[Unit]
Description=Maintenance Service

[Service]
Type=dbus
User=maintenance
ExecStart=/usr/bin/maintenanced --system
BusName=com.github.radium226.Maintenance
